.summary {
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: -10rem;
  background-image: repeating-linear-gradient(113deg,#8da1ab, #a8c0cb 1px);
  color: white;
  border-radius: 10px;
  padding: 1rem 3rem;
  position: relative;
  box-shadow: 5px 4px 10px #637178, -7px -7px 20px #d7f5ff;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
  text-shadow: 2px 3px 2px darkmagenta;
}
@media(max-width:920px){
  .summary {
    max-width: 90%;
  }
}