.meal {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  width: 45%;
  padding: 6px;
  background: white;
  padding-left: 10px;
  border-bottom: 2px solid transparent;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 40%);
}

.meal h4 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
.formbox{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-image: linear-gradient(360deg, #2235cea3, #c214148a);
}
.formbox img{
  height: 70%;
  width: 96%;
  border-radius: 6px;
  position: absolute;
  object-fit: cover;
  top: 2px;
}

