.form {
  height: 100%;
  display: flex;
  align-items: end;
  gap: 0;
  outline-style: solid;
  border-radius: 6px;
  outline-color: lightgrey;
  padding: 2px;
}

.form button {
  font: inherit;
    cursor: pointer;
    background-color: ivory;
    border: none;
    color: red;
    padding: 0.25rem 1rem;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
    height: 2rem;
    position: relative;
    width: 5rem;
}

.form button:hover{
  background-color: #d0e3e6;
}
.form button:active{
  background-color:lightcoral;
}
.inputbox {
  z-index: 9;
}

.form label {
  font-weight: bold;
  margin-right: 1rem;
}

.form input {
  width: 40px;
    height: 2rem;
    border: 0;
    border-radius: 6px 0 0 6px;
    border-right: 3px solid lightgray;
    font: inherit;
    padding-left: 0.5rem;
    outline: none;
}