.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background: #607d8b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  box-shadow: 0 5px 9px rgb(0 0 0 / 38%);
  z-index: 10;
}
.Header h1 {
  font-size: 26px;
}

.main-image {
  height: 18rem;
}

.main-image img {
  width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
}
@media(min-width:100px) and (max-width:576px){
  .Header h1 {
    font-size: 26px;
  }
}
